body{
  background-color: #EF9FAF;
  margin: auto 0;
  border: 5px solid #1604AC;
*/
}

h1{
   font-size: 70px;
   text-align: center;
   color: #1604AC;
}

h2{
   font-size: 40px;
   text-align: center;
   color: #0D083A;
}

.service_container{
   text-align: center;
}

#services, #price, a{
    font-family: 'Anton', sans-serif;
    color: #1604AC;
}

p{
 margin: 30px; 
 font-size: 25px;
 text-align: center;
}

img{
  border: 1px solid #0D083A;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {border: 15px solid #0D083A;}
}
