body{
  background-color: #EF9FAF;
  margin: auto 0;
/*781426
C76476
*/
}

img {
  /*opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  height: 800px;
  width: 800px;  
}

.backgroundPic{
   float: left;
   clear: left;
}

h1{
   font-size: 70px;
   text-align: center;
   color: #1604AC;
}

h2{
   font-size: 40px;
   text-align: center;
   color: #0D083A;
}

a{
  font-size: 1.7em;
  color: #1604AC;
  font-weight: 50px;
}

.main_nav{
  display: flex;
  list-style: none;
  margin: 0;
}

.container{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   height: 50vh;
}
