body{
   background-image: url('lawn.jpg'); 
   background-repeat: no-repeat;
   background-size: cover;
   
}

h1{
   font-size: 70px;
   text-align: center;
   color: #1604AC;
}

h2{
   font-size: 40px;
   text-align: center;
   color: #0D083A;
}

a{
  font-size: 1.2em;
}

.nav_section{
  display: flex;
  margin: 0;
}

.container{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50vh;
}
